body {
  background: black;
}
#main {
  background: white;
  width: 400px;
  margin: 30px auto 30px auto;
  font-family: "Noto Sans JP", sans-serif;
}
#header-left,
#footer1-left {
  display: flex;
  float: left;
}
#footer1-left {
  font-size: x-large;
}
#header-right,
#footer1-right {
  float: right;
  font-size: x-large;
}
#header {
  padding: 10px 10px;
}
#header img {
  margin-right: 5px;
}
#footer {
  padding: 10px;
}
#footer1 {
  overflow: hidden;
}
.m-5 {
  margin-right: 7px;
}
